{% load static %}
<link rel="stylesheet" href="{% static '/game/style.css' %}">
<header>
    <title>Spyfell</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</header>
<body>
    <div id="menu">
        <h1>Create a new session</h1>
        <form action="{% url 'session_create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" value="A Spyfell Session" />
            <input type="submit" value="Done" />
        </form>
    </div>
</body>

